main
Field
Menu
Messages
Pieces
Background
*~
*.log*
log_*
*.err
err_*
*.pdf
*.csv
*.RData
.DS_STORE
*.DS_Store*
*.xls*
*.Rd
*.pyc
.ipynb_checkpoints/
*.slo
*.lo
*.o
*.obj
*.exe
*.out
*.app
.DS_Store
.txt
.env
.vscode



